.container-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    height: 50vh;
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgb(30, 87, 125);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .image{
    height: 40%;
    width: 100%;
    border-radius: 20px;
  }
  span {
    color: rgb(6, 22, 110);
  }
  p {
    color: rgb(43, 5, 65);
  }
  .informações-button {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
  .informações-button a,
  .informações-button button {
    text-decoration: none;
    border: none;
    color: #222;
    background-color: rgb(133, 164, 192);
    font-size: 0.9em;
    padding: 4px;
    margin-left: 19px;
    margin-top: 9px;
    cursor: pointer;
    border: 1px solid #222;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 5px;
  }
  
  .informações-button {
    margin-right: 0.5em;
  }
  .informações-button a:hover,
  .informações-button button:hover {
    background-color: rgb(69, 182, 75);
    color: #000000;
  }

  .all-text-pai{
   margin-top: 2vh;
  }
  