.header {
  display: flex;
  justify-content: space-between;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(48, 45, 129, 0.984) 0%
  );

  padding: 10px 2rem;
}
.list {
  display: flex;
  list-style: none;
  align-items: center;
}
.item {
  margin: 10px;
}
.item a {
  color: aliceblue;
  text-decoration: none;
}
.item a:hover {
  color: blue;
}
.logo{
  height: 60px;
  width: 70px;
}
.logo{
    border-radius: 50%;
}
